.row {
  --bs-gutter-x: 0px !important;
}
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.toast .show {
  right: 0px;
}
.toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 400px;
  animation: fadeIn 0.4s ease-in-out;
  color: #fff;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  position: relative;
  overflow: hidden;
  animation: slideInOut 5.5s ease-in-out forwards;
}

.toast .toast-Message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toast .toast-Message span {
  flex-grow: 1;
  padding-right: 10px;
}

.toast .close-btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toast .close-btn:hover {
  color: #ccc;
}

.toast-timer {
  font-size: 12px;
  text-align: start;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

/* Type-based styles */
.toast.success {
  background-color: #28a745;
  border-left: 5px solid #218838;
}

.toast.error,
.toast.delete {
  background-color: #dc3545;
  border-left: 5px solid #bd2130;
}

.toast.warning {
  background-color: #ffc107;
  color: #212529;
  border-left: 5px solid #e0a800;
}

.toast.info {
  background-color: #17a2b8;
  border-left: 5px solid #117a8b;
}

/* Animations */
@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
